node_modules
**/node_modules
.git
.github
.env
.env.*
!.env.example
*.md
!README.md
!PHILOSOPHY.md
!CONTRIBUTING.md
data
uploads
**/data/db
**/data/uploads
test
docs
.vscode
.idea
*.log
coverage
.turbo
.test